* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.containerHeader {
  height: 70px;
  background-color: #3b5a48;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  height: 50px;
  display: flex;
}
.title {
  color: #ffffff;
  font-size: 30px;
}

.containerSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 70px - 60px);

}

.containerMain {
  width: 70%;
  padding: 30px;
  margin: auto;
}

.containerSectionInfo {
  background-color: #c4d8cb;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 15px;
  width: fit-content;
}

.titleInfos {
  color: #2c3a32;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}

.textInfos {
  color: #000000;
  font-size: 15px;
  text-align: justify;
  margin: 15px;
}

a {
  text-decoration: none;
  color: #3b5a48;
}

a:hover {
  font-weight: 550;
}

.containerSectionCardValidation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 30px; */
}

.containerValidation {
  background-color: #c4d8cb;
  width: 40%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}

.titleForm {
  color: #000000;
  font-size: 18px;
  text-align: center;
}

.inputCardNumbers {
  width: 230px;
  height: 37px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #e5e5e5;
  text-align: center;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.validationAnswer {
  font-weight: 600;
  height: 20px;
}

.valid {
  color: #149F50;
}
.invalid {
  color: #FF0F0F;
}

.buttonCheck {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #3b5a48;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.cardDesign {
  height: 150px;
  width: 230px;
  background: linear-gradient(180deg, #0f0b1f 0%, rgba(43, 22, 129, 0.75) 100%);
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerCardBrand {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.cardBrand {
  width: 20%;
}

.maskNumber {
  margin-left: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  height: 20px;
}

.containerAside {
  background-color: #c4d8cb;
  border-radius: 10px;
  /* width: 30%; */
  margin-top: 30px;
  padding: 15px;
  height: fit-content;
  width: fit-content;
}

.containerHandComputer {
  display: flex;
  justify-content: center;
}

.handComputerImage {
  width: 200px;
  border-radius: 10px;
}

.containerFooter {
  height: 60px;
  width: 100%;
  background-color: #0a1e12;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.createdBy {
  color: #e5e5e5;
  font-size: 16px;
}

.socialMedias {
  display: flex;
  gap: 40px;
}

.iconSocialMedias {
  height: 35px;
}
